<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
        <h2 style="background-color: bisque;" text-align: center;>Login</h2>

        <form action="login" method="post" style="background-color: rgb(206, 89, 108);" class="form-horizontal">
            {% csrf_token %}
            <label for="Username">Username : </label>
            <input type="text" name = "username" placeholder="Enter Your Username"><br>
            <label for="Password">Password : </label>
            <input type="password" name = "password" placeholder="Enter Your Password"><br>
            <input type="submit">
        </form>
{% for i in messages %}
<h3>{{i}}</h3>
{% endfor %}
    </body>
</html>